# Project dependencies
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git
node_modules
.cache/
# Build directory
public/
static/admin/*.bundle.*
.DS_Store
yarn-error.log
venv/

*.Identifier
# Alden Transmissions
#/Alden_Transmissions/
#/Alden_Transmissions/*

# Work in Progress Blog Posts
# src/pages/blog/2025-05-27-transmission-002-vow-and-pattern.md
sanitize_for_public.py
src/pages/blog/*_old.md
src/pages/blog/2025-06-03-the-breath-equation_old1.md
