@import "./variables.sass"

.navbar .navbar-menu
  box-shadow: none !important

.content .taglist
  list-style: none
  margin-bottom: 0
  margin-left: 0
  margin-right: 1.5rem
  margin-top: 1.5rem
  display: flex
  flex-wrap: wrap
  justify-content: left
  align-items: center
  li
    padding: 0 2rem 1rem 0
    margin-bottom: 1.5rem
    margin-top: 0

// Helper Classes
.full-width-image-container
  width: 100vw
  height: 250px
  position: relative
  background-size: cover
  background-position: center
  display: flex
  justify-content: center
  align-items: center
  overflow: hidden

.full-width-image
  width: 100vw
  height: 100%
  background-size: cover
  background-position: center
  display: flex
  justify-content: center
  align-items: center

.title-container
  @media (max-width: 768px)
    padding: 0.5rem !important

.title
  font-size: 1.5rem !important
  @media (min-width: 769px)
    font-size: 2.5rem !important

.subheading
  font-size: 1rem !important
  @media (min-width: 769px)
    font-size: 1.5rem !important

.btn
  display: inline-block
  padding: 12px 16px 10px
  font-size: 18px
  font-size: 1rem
  line-height: 1.25
  background-color: $primary
  border-radius: .25rem
  text-decoration: none
  font-weight: 700
  color: #ffffff
  text-align: center
  -webkit-box-shadow: inset 0 0 0 2px $primary
  box-shadow: inset 0 0 0 2px $primary
  -webkit-transition: all .15s ease
  transition: all .15s ease

.margin-top-0
  margin-top: 0 !important

.navbar-item .icon
  color: $primary

.icon svg
  width: 1.5rem
  height: 1.5rem
  fill: currentColor

.navbar-brand .navbar-item.logo
  padding: 0 1rem

footer.footer
  padding: 3rem 0rem 0rem
  background-color: $black
  color: $purple10

.menu-label
  font-size: 1em !important
  text-align: left

.menu-list
  list-style: none !important
  text-align: left

.social
  padding: 2em

.social a
  padding: .5em .5em .3em .5em
  border-radius: 1em
  background-color: $white-ter
  margin: .5em
  width: 1em
  height: 1em
  vertical-align: middle
  display: inline

.blog-list-item.is-featured
  background-color: $purple30

.blog-list-item header
  display: flex
  margin-bottom: 1em
  color: $purple70

.blog-list-item .featured-thumbnail
  flex-basis: 35%
  margin: 0 1.5em 0 0

.section-title
  margin-top: 0.5rem !important // Reduce the gap
  font-size: 2rem !important // Adjust font size

.section p
  font-size: 1rem !important // Ensure paragraph text is larger on mobile view

@media (min-width: 768px)
  .full-width-image-container
    height: 400px

  .full-width-image
    height: 100%

  // Adjustments for non-mobile view
  .section
    padding-top: 2rem !important
    padding-bottom: 2rem !important
    padding-left: 1.5rem !important
    padding-right: 1.5rem !important // Reduce padding on the sides

  .section .has-text-weight-semibold.is-size-2
    font-size: 2.5rem !important
    margin-top: 1rem !important
    line-height: 1.2 !important

  .columns
    margin-bottom: 2rem !important // Reduce margin between columns

  .column
    padding: 1rem !important // Reduce padding within columns

// Responsive adjustments
@media (max-width: 768px)
  .title
    font-size: 1.5rem !important
  .subtitle
    font-size: 1.2rem !important
  .btn
    font-size: 1rem !important
    padding: 10px 14px 8px !important
  .content
    padding: 1rem !important
  .navbar-menu
    font-size: 1rem !important
  .hero .hero-body
    padding: 2rem 1rem !important
  .full-width-image
    height: 250px !important
  .full-width-image-container
    height: 250px !important

  // Additional adjustments for mobile view
  .section
    padding-top: 1rem !important
    padding-bottom: 1rem !important
    padding-left: 0.5rem !important
    padding-right: 0.5rem !important // Reduce padding on the sides

  .section .has-text-weight-semibold.is-size-2
    font-size: 2rem !important
    margin-top: 0.5rem !important
    line-height: 1.2 !important