// This file full of sass variables can be imported from multiple places.

// Import the initial variables from bulma to make them available and allow customization.
// https://bulma.io/documentation/customize/with-node-sass/
@import "~bulma/sass/utilities/initial-variables"

$purple100: #2E1065
$purple90: #4E248E
$purple80: #5D2AAD
$purple70: #7035CC
$purple60: #7F45E2
$purple50: #8B5CF6
$purple40: #A78BFA
$purple30: #C4B5FD
$purple20: #DDD6FE
$purple10: #EDE9FE

$primary: $purple70
$primary-invert: $purple10
$body-color: #333
$black: #2b2523
